<div class="main">  	
	<input type="checkbox" id="chk" aria-hidden="true">

		<div class="signup">
			<form>
				<label for="chk" aria-hidden="true">Sign up</label>
				<input type="text" name="txt" placeholder="User name" [(ngModel)]="signupObj.userName">
				<input type="email" name="email" placeholder="Email" [(ngModel)]="signupObj.email">
				<input type="password" name="pswd" placeholder="Password" [(ngModel)]="signupObj.password">
				<button onclick="onSignUp()">Sign up</button>
			</form>
		</div>

		<div class="login">
			<form>
				<label for="chk" aria-hidden="true">Login</label>
				<input type="email" name="email" placeholder="Email" [(ngModel)]="loginObj.email">
				<input type="password" name="pswd" placeholder="Password" [(ngModel)]="loginObj.password">
				<button onclick="onLogin()">Login</button>
			</form>
		</div>
</div>